.main_auth {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    max-height: max-content;
    overflow-y: auto;
    font-size: 1.6rem;
    @include respond(mobile){
      // margin-bottom: 250px;
    }
    &_left {
      flex: 0.3;
        background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(91, 172, 172, 0.1) 52%,
        rgba(136, 205, 215, 0.1) 54%,
        rgba(255, 255, 255, 1) 100%
      );
      @include transiton3(all, 0.5, ease);
      @include respond(tab) {
        opacity: 0;
        width: 0;
        flex: 0;
      };
      @include respond(mobile){
        display: none;
      }
    }
    &_left-top {
      height: 50%;
      position: relative;
      clip-path: circle(100.7% at 50% -10%);
      background: radial-gradient(
        circle farthest-side at top center,
        transparent 50%,
        rgb(255, 255, 255, 0) 0%,
        rgb(255, 255, 255, 0) 50%,
        rgba(55, 182, 211, 0.12) 65%,
        rgba(177, 46, 221, 0.05) 84%,
        rgb(158, 205, 212, 0.5) 100%
      );
    }
    &_left-top img {
      @include absCenter;
      margin-top: 1rem;
    }
    &_left-bottom {
      text-align: center;
      padding: 80px 0 0 0;
      width: 280px;
      margin: 0 auto;
    }
    &_left-bottom h2 {
      font-size: 3.4rem;
      font-weight: 700;
      line-height: 39px;
    }
    &_left-bottom p {
      width: 90%;
      margin: 15px auto;
    }
    &_right{
      background-color: var(--bg-primary-light);
      box-shadow: rgba(100, 100, 111, 0.3) 0px 0px 24px 5px;
      flex: 0.7;
      overflow-y: scroll;
      position: relative;
      @include transiton3(flex, 0.3, ease);
      @include respond(tab) {
        flex: 1;
      }
    }
    &_form {
      min-height: 100vh;
      height: max-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      margin: 0 auto;
      width: 350px;
      z-index: 1;
    }
    &_logo {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      margin: 0 0 50px 0;
    }
    &_logo img {
      width: 50px;
    }
    &_logo p {
      @include headingLg(var(--color-dark-m));
      display: flex;
      align-items: center;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 7px;
      padding: 10px 0 0 0;
    }
    form label {
      padding: 10px 0 0 0;
    }
    &_logintext {
      color: (--color-dark-m);
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &_input {
      @include mnInput();
    }
    button {
      width: 100%;
      background-color: var(--color-dark-m);
      color: var(--color-white);
      font-weight: 700;
      font-size: 1.8rem;
      text-align: center;
      height: 55px;
      border-radius: 8px;
      border: none;
      margin: 30px 0 0 0;
      cursor: pointer;
    }
    &_forgotpassword {
      width: 100%;
      text-align: center;
      padding: 20px 0;
      cursor: pointer;
    }
    &_reg-login {
      width: 100%;
      text-align: center;
      padding: 40px 0 50px 0;
      span {
        font-weight: bold;
        cursor: pointer;
      }
    }
    &_background img {
      width: 45%;
      object-fit: cover;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 0;
    }
  }