.register_checkbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 15px;
    font-size: 1.4rem;
    &_input{
        max-width: 35px ;
        max-height: 35px ;
        background-color: white;
        @include mnInput;
        margin: 8px 0 0px 10px;
        cursor: pointer;
        svg{
            width: 37px;
            height: 37px;
            color: var(--color-blue-3);
            position: relative;
            right: 12px;
        }
    }
    p{
        padding: 5px 0 0 0;
        span{
            font-weight: bold;
            cursor: pointer;
        }
    }
};

.form_register{
    @include respond(mobile){
        margin-top: 0px;
    }
}

.colors{
    background-color: #E4EFFA;
    animation: colorChange 1s infinite;
}

@keyframes colorChange{
    0%{
        background-color: #E4EFFA;
    }
    100%{
        background-color: var(--color-blue-4);
    }
}