.dashboard{
    width: 100%;
    height: max-content;
    padding-bottom: 30px;
    &-navbar{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
    &-cards{
        width: 100%;
        height: 275px; 
        position: relative;
        top:50px;
        background-color: var(--color-white);
        border-radius: 7px;
        @include respond(mobile){
            padding: 5px 0;
            height: 240px;
        }
        &-content{
            padding: 20px 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h1{
                @include headingLg(var(--color-dark-m));
                @include respond(mobile){
                    font-size: 2rem;
                    letter-spacing: -0.5px;
                  }
            }
            @include respond(mobile){
                padding: 10px 15px;
            }
             // refere mixins button1
            button{
                border: none;
                @include button1("max-xontent","max-xontent",1.7,600,10,30,var(--color-blue-4),var(--color-blue));
                @include respond(mobile){
                    @include button1("max-xontent","max-xontent",1.4,600,5,10,var(--color-blue-4),var(--color-blue));
                }
            }
            // refere mixins button1
            button:active{
                @include button1("max-xontent","max-xontent",1.7,600,10,30,var(--color-blue),var(--color-white));
                @include respond(mobile){
                    @include button1("max-xontent","max-xontent",1.4,600,5,8,var(--color-blue),var(--color-white));
                }
            }
        }
    }
    &-cards-listcards{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        gap:40px;
        overflow-y: hidden;
        margin: 10px 40px;
        @include respond(mobile){
            width: 90%;
            margin-left: 5%;
            // padding: 15px 25px;
            gap: 20px;
            margin:15px auto;
        }
        div{
            min-width: 250px;
            min-height: 150px;
            border-radius: 8px;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
    &-graphs{
        width: 100%;
        min-height: 400px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin: 80px 0 0 0;
        @include respond(tab){
            flex-direction: column;
        }
        @include respond(mobile){
            flex-direction: column;
            font-size: 1.4rem;
        }
        div{
            flex: 0.5;
            height: 307px;
            background-color: var(--color-white);
            border-radius: 8px;
        }
    }
    &-profile-graph{
        display: flex;
        flex-direction: column;
        min-height: 355px;
        div{
            border-bottom: 2px solid #E6F1FA;
        }
    }
    &-graph-1{
        min-height: 200px;
        overflow: hidden;
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @include respond(tab){
            max-height: 150px;
        }
        @include respond(mobile){
            flex-direction: column;
            max-height: 320px;
        }
    }
    &-graph-donut{
        flex: 0.5;
        margin-top: -75px;
        max-width: 172px;
        position: relative;
        display: flex;
        h2{
            font-size: 2rem;   
            position: absolute;
            top: 140px;
            left: 40%;
        }
        @include respond(mobile){
            margin: 0 auto;
            margin-top: 0px;
            max-height: max-content;
        }
    }
    &-graph-donut-content{
        flex:0.5;
        font-size: 1.6rem;
        padding: 30px 0px;
        border: none !important;
        p{
            padding-top: 7px;
        }
        @include respond(mobile){
            position: relative;
            padding: 10px 0px;
            top: -55px;
            text-align: center;
        }

    }
    &-graph-transfer{
        text-align: center;
        font-size: 1.2rem;
        padding: 10px 0;
        line-height: 55px;
        span{
            @include button1("max-content","max-content",1.4,700,12,35,var(--color-blue-4),var(--color-blue-3));
        }
        @include respond(tab){
            font-size: 1rem;
        }
    }
    &-graph-upgrade-transfer{
        padding: 20px 0;
        text-align: center;
        font-size: 1.2rem;
        color: var(--color-blue-3);
        cursor: pointer;
    }
    &-graph-bar{
        min-height: 353px;
        @include respond(tab){
            padding: 20px;
        }
    }
    &-buttons{
        min-width: 100%;
        max-height: 40px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        font-size: 1.7rem;
        font-weight: 500;
        @include respond(tab){
            margin-top: 30px;
        }
        @include respond(mobile){
            margin: 10px 0 0 0;
            flex-direction: column;
        }
        div:nth-child(1){
            @include respond(mobile){
                margin-top: 30px;
            }
        }
        div{
            background-color: var(--color-white);
            cursor: pointer;
            flex: 0.5;
            border-radius: 8px;
            padding: 30px 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 15px;
            transition: all 0.3s ease;
            @include respond(mobile){
                padding: 20px 0;
            }
            svg{
                padding: 1px;
                font-size: 2.3rem;
                margin-top: -12px;
                @include respond(mobile){
                    margin-top: 1px;
                }
            }
            span{
                font-weight: 700;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &:hover{
                color: var(--color-blue);
            }
        };
    }
}