.navbar{
    box-shadow: 0px 9px 27px 0px rgba(199, 214, 230, 1);
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    position: relative;
    z-index: 3;
    font-size: 1.6rem;
    &-sidebar{
        position:relative;
        margin:auto 15px;
        input{
            display: none;
        };
        label{
            transition: all 0.5s ease;
            padding: 0;
        }
        input:checked ~ label{
            // moving the navbar bars
            // padding: 0 0 0 190px;
            @include respond(mobile){
                padding: 0;
            }
        }
        i{
            font-size: 2rem;
            cursor: pointer;
        }
    }
    &-user{
        display: flex;
        gap: 20px;
        margin-right:15px;
        div{
            @include displayColumnCenter;
        }
        div p span{
            font-weight: bold;
            color: var(--color-dark-m);
        }
        div svg {
            font-size: 28px;
            color: var(--color-dark-m);
            cursor: pointer;
        }
    }
    &-userprofile{
        position: relative;
        img{
            width: 40px;
            height: 40px;
            border-radius: 8px;
            margin: auto 0;
            object-fit: cover;
            cursor: pointer;
        }
    }
    &-userprofile-status{
        position: absolute;
        width: 12.5px;
        height: 12.5px;
        background-color: red;
        border-radius: 50%;
        top: 15px;
        right: -5px;
        border: 1px solid white;
    }
    &-userprofile-checkbox{
        display: none;
    }
    &-userprofile-checkbox:checked + &-userprofile-status{
        background-color: green;
    }
};
.navbar-position-fixed{
    position:fixed;
    width: 100%;
    top: 0;
}