@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  // main input
  @mixin mnInput() {
    background-color: var(--color-white);
    box-shadow: 0px 9px 26px 0px rgba(151, 151, 151, 0.7);
    width: 99%;
    margin: 0 auto;
    height: 51px;
    background: rgba(255, 255, 255, 1);
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.5333333611488342px;
    color: var(--color-dark-s);
    padding-left: 12px;
    outline: none;
    border: none;
    &:focus {
      color: var(--color-dark-m);
    }
  }
  // large heading text
  @mixin headingLg($color) {
    color: $color;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: -2px;
  }
  // medium heading text
  @mixin headingMd() {
    background-color: var(--color-w-f);
  }
  // small heading text
  @mixin headingSm() {
    background-color: var(--color-w-f);
  }
  
  // break points
  @mixin respond($breakpoint) {
    @if $breakpoint == mobile {
      @media (max-width: 47.93em) {
        //600px
        @content;
      }
    }
    @if $breakpoint == tab {
      @media (max-width: 63.93em) {
        // 900px
        @content;
      }
    }
  }
  
  // transition
  
  @mixin transiton3($property, $time, $moment) {
    -webkit-transition: $property $time + s $moment;
    -moz-transition: $property $time + s $moment;
    -ms-transition: $property $time + s $moment;
    -o-transition: $property $time + s $moment;
    transition: $property $time + s $moment;
  }
  
  // diaplsy column center
  
  @mixin displayColumnCenter(){
    display: flex;
    flex-direction: column;
    justify-content: center;
  };
  
  // diaplsy column center
  
  @mixin displayRowCenter(){
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  @mixin button1($width,$height,$size,$weight,$padding-tb,$padding-bt,$background,$color){
    width: $width;
    height: $height;
    padding:$padding-tb+px $padding-bt+px;
    background-color: $background;
    border-radius: 7px;
    color: $color;
    font-size: $size + rem;
    font-weight: $weight;
    cursor: pointer;
    transition: all 0.3s ease;
  }