:root {
    --bg-primary: rgba(208, 230, 247, 0.5);
    --bg-primary-light:rgba(208, 230, 247, 0.369);
    --bg-secondary: rgba(240, 247, 255, 0.502);
    // white color full
    --color-white: rgba(255, 255, 255, 1);
    --color-dark-m : rgba(55, 52, 52, 1);
    --color-dark-s : rgba(48, 48, 48, 0.504);

    --color-blue:rgba(47, 119, 222, 1);
    --color-dark-light:rgba(48, 48, 48, 1);

    --color-blue : rgb(0, 0, 255);
    --color-blue-3: rgba(74, 147, 239, 1);

    --color-blue-4: rgba(230, 230, 230, 0.651);
    --color-blue-5: rgba(230, 230, 230, 0.347);
};